/*
____The thing i want to add____
For Chapters
   -Button that includes
      *Delete
      *Rename








*/
::-webkit-scrollbar {
  width: 6px;
  z-index: 1;
}

::-webkit-scrollbar-track {
  background: #faf9f8;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-width: 15px 2px 50px 2px;
  border-style: solid;
  border-color: #faf9f8;
}

* {
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

html,
body,
#root {
  height: 100vh;
}

.App {
  display: grid;
  grid-template-columns: 50px 421px auto;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.App .Nav {
  width: 50px;
  height: 100vh;
  border-right: 1px solid #ddd;
  background-color: #f3f2f1;
}
.App .Nav button {
  display: block;
  background-color: #f3f2f1;
  border: none;
  padding: 0;
  outline: none;
  width: 100%;
  text-align: center;
  padding: 12px 0;
}
.App .Nav button .icon {
  font-size: 1.4em;
  font-weight: 100;
  color: #3A3A38;
}
.App .Nav button .search {
  transform: rotateY(180deg);
}
.App .Nav button:hover {
  background-color: #e1dfdd;
}
.App .Nav .active {
  background-color: #e1dfdd;
}
.App .Nav .active .icon {
  color: #7719aa;
}
.App .Nav .active:hover {
  background-color: #c2c0bd;
}
.App .Aside {
  height: 100vh;
  position: relative;
  background-color: #faf9f8;
  border-right: 1px solid #ddd;
  display: grid;
  grid-template-columns: 50% auto;
}
.App .Aside .Chapters {
  height: 100vh;
  border-right: 1px solid #ddd;
  overflow-y: scroll;
  overflow-x: hidden;
}
.App .Aside .Chapters .active_chp {
  background-color: #e1dfdd;
}
.App .Aside .Chapters .active_chp:hover {
  background-color: #e1dfdd !important;
}
.App .Aside .Chapters .Chapter {
  width: 100%;
  height: 38px;
  display: grid;
  grid-template-columns: 20px auto;
}
.App .Aside .Chapters .Chapter:hover {
  background-color: #eae8e5;
}
.App .Aside .Chapters .Chapter .mark_cnt .mark {
  display: inline-block;
  margin-left: 12px;
}
.App .Aside .Chapters .Chapter .mark_cnt .mark .mark_1 {
  display: inline-block;
  height: 20px;
  margin: 7px 0;
  width: 6px;
  border-radius: 4px 0 0 4px;
}
.App .Aside .Chapters .Chapter .mark_cnt .mark .mark_2 {
  display: inline-block;
  margin: 5px 0;
  height: 24px;
  width: 2px;
  border-radius: 2px 0 0 2px;
}
.App .Aside .Chapters .Chapter .txtCont {
  padding: 2px 12px 2px 0;
  height: 38px;
}
.App .Aside .Chapters .Chapter .txtCont .txt {
  height: 32px;
}
.App .Aside .Chapters .Chapter .txtCont .txt input {
  width: 140px;
  height: 32px;
  outline: none;
  font-size: 0.9em;
  padding-left: 12px;
}
.App .Aside .Chapters .Chapter .txtCont .options {
  position: sticky;
  border: 1px solid #f3f2f1;
  box-shadow: 0px 0px 5px #555;
  background-color: #faf9f8;
  width: 100px;
  overflow: visible;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}
.App .Aside .Chapters .Chapter .txtCont .options button {
  display: block;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #faf9f8;
  text-align: left;
  font-size: 15px;
  color: #333;
  z-index: 20;
  position: relative;
  width: 100%;
  transition: background-color 0.4s;
}
.App .Aside .Chapters .Chapter .txtCont .options button:hover {
  color: #333;
  background-color: #eae8e5;
}
.App .Aside .Chapters .Chapter .txtCont .options button .del_icon {
  color: #ec4e4c;
}
.App .Aside .Chapters .Chapter .txtCont .options button .rename_icon {
  color: #83beec;
}
.App .Aside .Pages {
  height: 100vh;
  border-right: 1px solid #ddd;
  overflow-y: scroll;
  overflow-x: hidden;
}
.App .Aside .Pages .active_page {
  background-color: #e1dfdd;
}
.App .Aside .Pages .active_page:hover {
  background-color: #e1dfdd !important;
}
.App .Aside .Pages .Page {
  width: 100%;
  height: 38px;
}
.App .Aside .Pages .Page:hover {
  background-color: #eae8e5;
}
.App .Aside .Pages .Page .txtCont {
  padding: 2px 12px 2px 0;
  height: 38px;
}
.App .Aside .Pages .Page .txtCont .txt {
  height: 32px;
}
.App .Aside .Pages .Page .txtCont .txt input {
  width: 140px;
  height: 32px;
  outline: none;
  font-size: 0.9em;
  padding-left: 12px;
}
.App .Aside .Pages .Page .txtCont .options {
  position: sticky;
  border: 1px solid #f3f2f1;
  box-shadow: 0px 0px 5px #555;
  background-color: #faf9f8;
  width: 100px;
  overflow: visible;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}
.App .Aside .Pages .Page .txtCont .options button {
  display: block;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #faf9f8;
  text-align: left;
  font-size: 15px;
  color: #333;
  z-index: 20;
  position: relative;
  width: 100%;
  transition: background-color 0.4s;
}
.App .Aside .Pages .Page .txtCont .options button:hover {
  color: #333;
  background-color: #eae8e5;
}
.App .Aside .Pages .Page .txtCont .options button .del_icon {
  color: #ec4e4c;
}
.App .Aside .Pages .Page .txtCont .options button .rename_icon {
  color: #83beec;
}
.App .Aside .addBtn {
  width: 50%;
  height: 40px;
  position: absolute;
  top: calc(100vh - 40px);
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: 1px solid #ddd;
  outline: none;
  text-align: left;
  font-size: 0.9em;
  background-color: #faf9f8;
  font-weight: bold;
  padding: 0.8em;
  color: #7719aa;
}
.App .Aside .addBtn:hover {
  background-color: #eae8e5;
}
.App .Aside .ab_c {
  border-right: 1px solid #e1dfdd;
}

/*# sourceMappingURL=App.css.map */
