@import "palette";
@import "scrollbar";
* {
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}
html,
body,
#root {
  height: 100vh;
}
.App {
  display: grid;
  grid-template-columns: 50px 421px auto;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .Nav {
    width: 50px;
    height: 100vh;
    border-right: 1px solid #ddd;
    background-color: $navL;
    button {
      display: block;
      background-color: $navL;
      border: none;
      padding: 0;
      outline: none;
      width: 100%;
      text-align: center;
      padding: 12px 0;
      .icon {
        font-size: 1.4em;
        font-weight: 100;
        color: $iconL;
      }
      .search {
        transform: rotateY(180deg);
      }
      &:hover {
        background-color: $activeL;
      }
    }
    .active {
      background-color: $activeL;
      .icon {
        color: $prmryL;
      }
      &:hover {
        background-color: $activexL;
      }
    }
  }
  .Aside {
    height: 100vh;
    position: relative;
    background-color: $asideL;
    border-right: 1px solid #ddd;
    display: grid;
    grid-template-columns: 50% auto;
    .Chapters {
      height: 100vh;
      border-right: 1px solid #ddd;
      overflow-y: scroll;
      overflow-x: hidden;
      .active_chp {
        background-color: $activeL;
        &:hover {
          background-color: $activeL !important;
        }
      }
      .Chapter {
        width: 100%;
        height: 38px;
        display: grid;
        grid-template-columns: 20px auto;
        &:hover {
          background-color: $hoverL;
        }
        .mark_cnt {
          .mark {
            display: inline-block;
            margin-left: 12px;
            .mark_1 {
              display: inline-block;
              height: 20px;
              margin: 7px 0;
              width: 6px;
              border-radius: 4px 0 0 4px;
            }
            .mark_2 {
              display: inline-block;
              margin: 5px 0;
              height: 24px;
              width: 2px;
              border-radius: 2px 0 0 2px;
            }
          }
        }
        .txtCont {
          padding: 2px 12px 2px 0;
          height: 38px;
          .txt {
            height: 32px;
            input {
              width: 140px;
              height: 32px;
              outline: none;
              font-size: 0.9em;
              padding-left: 12px;
            }
          }
          .options {
            position: sticky;
            border: 1px solid $navL;
            box-shadow: 0px 0px 5px #555;
            background-color: $asideL;
            width: 100px;
            overflow: visible;
            z-index: 20;
            opacity: 0;
            transition: opacity 0.3s;
            button {
              display: block;
              border: none;
              outline: none;
              padding: 10px;
              background-color: $asideL;
              text-align: left;
              font-size: 15px;
              color: #333;
              z-index: 20;
              position: relative;
              width: 100%;
              transition: background-color 0.4s;
              &:hover {
                color: #333;
                background-color: $hoverL;
              }
              .del_icon {
                color: #ec4e4c;
              }
              .rename_icon {
                color: #83beec;
              }
            }
          }
        }
      }
    }
    .Pages {
      height: 100vh;
      border-right: 1px solid #ddd;
      overflow-y: scroll;
      overflow-x: hidden;
      .active_page {
        background-color: $activeL;
        &:hover {
          background-color: $activeL !important;
        }
      }
      .Page {
        width: 100%;
        height: 38px;
        &:hover {
          background-color: $hoverL;
        }
        .txtCont {
          padding: 2px 12px 2px 0;
          height: 38px;
          .txt {
            height: 32px;
            input {
              width: 140px;
              height: 32px;
              outline: none;
              font-size: 0.9em;
              padding-left: 12px;
            }
          }
          .options {
            position: sticky;
            border: 1px solid $navL;
            box-shadow: 0px 0px 5px #555;
            background-color: $asideL;
            width: 100px;
            overflow: visible;
            z-index: 20;
            opacity: 0;
            transition: opacity 0.3s;
            button {
              display: block;
              border: none;
              outline: none;
              padding: 10px;
              background-color: $asideL;
              text-align: left;
              font-size: 15px;
              color: #333;
              z-index: 20;
              position: relative;
              width: 100%;
              transition: background-color 0.4s;
              &:hover {
                color: #333;
                background-color: $hoverL;
              }
              .del_icon {
                color: #ec4e4c;
              }
              .rename_icon {
                color: #83beec;
              }
            }
          }
        }
      }
    }
    .addBtn {
      width: 50%;
      height: 40px;
      position: absolute;
      top: calc(100vh - 40px);
      border: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-top: 1px solid #ddd;
      outline: none;
      text-align: left;
      font-size: 0.9em;
      background-color: $asideL;
      font-weight: bold;
      padding: 0.8em;
      color: $prmryL;
      &:hover {
        background-color: $hoverL;
      }
    }
    .ab_c {
      border-right: 1px solid $activeL;
    }
  }
  .Main {
  }
}
