//Light Theme
$prmryL: rgba(119, 25, 170, 1);
$navL: rgba(243, 242, 241, 1);
$asideL: rgba(250, 249, 248, 1);
$activeL: rgba(225, 223, 221, 1);
$activexL: rgb(194, 192, 189);
$hoverL: rgba(234, 232, 229, 1);
$iconL: #3A3A38;
//Dark Theme
